Repository cg-homelab/smarter-home, pull requests merged in 2025-09, with the labels that each got.

#7 Created initial Tauri App
  src/desktop/.gitignore
  src/desktop/.vscode/extensions.json
  src/desktop/README.md
  src/desktop/index.html
  src/desktop/package.json
  src/desktop/pnpm-lock.yaml
  src/desktop/public/tauri.svg
  src/desktop/public/vite.svg
  src/desktop/src-tauri/.gitignore
  src/desktop/src-tauri/Cargo.lock
  src/desktop/src-tauri/Cargo.toml
  src/desktop/src-tauri/build.rs
  src/desktop/src-tauri/capabilities/default.json
  src/desktop/src-tauri/icons/128x128.png
  src/desktop/src-tauri/icons/128x128@2x.png
  src/desktop/src-tauri/icons/32x32.png
  src/desktop/src-tauri/icons/Square107x107Logo.png
  src/desktop/src-tauri/icons/Square142x142Logo.png
  src/desktop/src-tauri/icons/Square150x150Logo.png
  src/desktop/src-tauri/icons/Square284x284Logo.png
  src/desktop/src-tauri/icons/Square30x30Logo.png
  src/desktop/src-tauri/icons/Square310x310Logo.png
  src/desktop/src-tauri/icons/Square44x44Logo.png
  src/desktop/src-tauri/icons/Square71x71Logo.png
  src/desktop/src-tauri/icons/Square89x89Logo.png
  src/desktop/src-tauri/icons/StoreLogo.png
  src/desktop/src-tauri/icons/icon.icns
  src/desktop/src-tauri/icons/icon.ico
  src/desktop/src-tauri/icons/icon.png
  src/desktop/src-tauri/src/lib.rs
  src/desktop/src-tauri/src/main.rs
  src/desktop/src-tauri/tauri.conf.json
  src/desktop/src/App.css
  src/desktop/src/App.tsx
  src/desktop/src/assets/react.svg
  src/desktop/src/main.tsx
  src/desktop/src/vite-env.d.ts
  src/desktop/tsconfig.json
  src/desktop/tsconfig.node.json
  src/desktop/vite.config.ts
Labels: enhancement

#14 13 general flatten project structure
  .dockerignore
  .github/workflows/run-pr-staging-deploy.yml
  .github/workflows/run-release-deploy.yml
  .sqlx/query-2df3adc32d480c16bb56c44ef25b88ed5fa00e6ee978fdca75a9c49539bcca5a.json
  Cargo.lock
  Cargo.toml
  Dockerfile.api
  docker-compose.yml
  src/backend/.dockerignore
  src/backend/.gitignore
  src/lib/lib-models/Cargo.toml
  src/lib/lib-models/src/domain/mod.rs
  src/lib/lib-models/src/domain/power.rs
  src/lib/lib-models/src/domain/user.rs
  src/lib/lib-models/src/entiy/mod.rs
  src/lib/lib-models/src/entiy/power.rs
  src/lib/lib-models/src/lib.rs
  src/lib/lib-utils/Cargo.toml
  src/lib/lib-utils/src/lib.rs
  src/services/api/Cargo.toml
  src/services/api/src/error.rs
  src/services/api/src/main.rs
  src/services/api/src/routes/errors.rs
  src/services/api/src/routes/mod.rs
  src/services/api/src/routes/power/mod.rs
  src/services/api/src/routes/power/post.rs
  src/services/api/src/store/mod.rs
  src/services/api/src/store/power/mod.rs
  src/services/api/src/store/user.rs
Labels: Backend

#31 Feature/design basic app pages
  src/desktop/index.html
  src/desktop/package.json
  src/desktop/pnpm-lock.yaml
  src/desktop/src-tauri/tauri.conf.json
  src/desktop/src/App.css
  src/desktop/src/App.tsx
  src/desktop/src/Charts.tsx
  src/desktop/src/Global.css
  src/desktop/src/Settings.tsx
  src/desktop/src/User-Login.tsx
  src/desktop/src/User.tsx
  src/desktop/src/components/input.tsx
  src/desktop/src/components/nav-item.tsx
  src/desktop/src/components/navbar.tsx
  src/desktop/src/components/user-card.tsx
  src/desktop/src/main.tsx
Labels: enhancement, desktop

#40 Hotfix/33 frontend optimize file names(#33)
  src/services/desktop/src/App.tsx
  src/services/desktop/src/Charts.tsx
  src/services/desktop/src/Settings.tsx
  src/services/desktop/src/User-Login.tsx
  src/services/desktop/src/User.tsx
  src/services/desktop/src/main.tsx
Labels: enhancement, desktop, release/patch

#42 Rename desktop service files to lowercase(#33)
  src/services/desktop/src/app.tsx
  src/services/desktop/src/charts.tsx
  src/services/desktop/src/settings.tsx
  src/services/desktop/src/user-login.tsx
  src/services/desktop/src/user.tsx
Labels: bug, desktop, release/patch
